<div class="grid"> 
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi. Morbi sollicitudin massa vel tortor consequat, eget semper nisl fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis lectus pharetra sit amet.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Location, Sellers info number of positive and negative feedback and must remove description and add favorite
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>
    <div class="grid-item"> 
        <div class="ibox"> 
            <div class="ibox-content product-box"> 
                <div class="product-imitation"> 
                    [ INFO ]
                </div>                     
                <div class="product-desc"> 
                    <span class="product-price"> 
                                $10</span> 
                    <small class="text-muted">Category</small> 
                    <a href="#" class="product-name"> Product</a> 
                    <div class="small m-t-xs"> 
                        Many desktop publishing packages and web page editors now.
                    </div>                         
                    <div class="m-t text-righ"> 
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a> 
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>                 
</div>

<style> 
    .grid .ibox {
    margin-bottom: 0;
    }
    .grid-item {
    margin-bottom: 10px;
    width: 260px;
    }
</style> 

<script>
    $(window).load(function() {
        $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: 260,
            gutter: <%= current_user.nil? ? 15 : 30 %>
        });
    });
</script>  
